html {
  height: 100%;
  width: 100%
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

#viz-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #343332;
  display: block;
  position: absolute;
}

#side-bar-container-one {
  width: 225px;
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
  display: block;
  background-color: #343332;
  margin: 20px 5px 10px 5px;
  box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);
  float: left;
  position: relative;
  display: block;
}

#sb-title-cont {
  width: 100%;
  min-height: 90px;
  background-color: #343332;
  color: #fff;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(175, 180, 175, 0.1);
  border-style: solid;
}

.sb-main-title-one{
  margin: 0px 0.5em;
  font-size: 1.3em;
  padding: 5px 0px 2px 0px;
  text-align: center;
  color: #fff;
  line-height: 30px;
}
.sb-main-title-two{
  display: none;
}
#fly-legend-cont {
  width: 100%;
  height: 140px;
  background-color: #343332;
  color: #fff;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(175, 180, 175, 0.1);
  border-style: solid;
}

.city-legend-bar-title {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 5px 0px 2px 0px;
}

#legends-cont {
  min-height: 180px;
  width: 100%;
}

.legend-one-cont {
  width: 100%;
  min-height: 100px;
  background-color: #343332;
  border-radius: 4px;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(175, 180, 175, 0.1);
  border-style: solid;
}

.legend-one {
  width: 100%;
  min-height: 100px;
  background: #343332;
}

.cl-one {
  margin-top: 10px;
  width: 18%;
  height: 15px;
  float: left;
  border: 0.5px solid #fff;
  margin-bottom: 2px;
  background: #343332;
}

.cl-one-vals {
  width: 17%;
  height: 20px;
  float: left;
  font-size: 12px;
  color: #fff;
  background-color: #343332;
}

.legend-hor-bar-title-cont {
  width: 100%;
  height: 30px;
  position: relative;
  display: block;
  background-color: #343332
}

.vacc-legend-bar-title {
  width: 95%;
  height: 20px;
  display: block;
  position: relative;
  padding: 14px 0px 0px 0%;
  float: left;
  background: #343332;
  color: #fff;
  font-size: 14px;
}

.legend-two-cont {
  width: 100%;
  min-height: calc(100%-60%);
  background-color: #343332;
  margin-top: 15px;
  color: #fff;
}

.legend-horiz-bar-cont {
  height: 160px;
  width: 96%;
  margin: 0px 0px 2px 4%;
  display: block;
  position: relative;
  background-color: #343332
}

.legend-horiz-bar {
  border: 1px solid #69c922;
  width: 1em;
  border-radius: 2px;
  margin: 0.75em;
  float: left;
  display: block;
  position: relative;
}

.legend-horiz-bar-title {
  min-width: 40px;
  height: 30px;
  float: left;
  margin-left: 25px;
  display: block;
  position: relative;
  font-size: 12px;
}

#maps-container {
  width: 100%;
  height: 100%;
}

#map1 {
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  width: calc(49.5% - 185px);
  margin: 20px 2px 10px 2px;
  float: left;
  box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);
  font-size: 11px;
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
}

#map2 {
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  width: calc(49.5% - 200px);
  margin: 20px 2px 10px 2px;
  float: left;
  box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
}

.map-yr-cont {
  height: 20px;
  min-width: 50px;
  z-index: 9999;
  font-size: 1.7em;
  color: #fff;
  display: block;
  position: absolute;
  background-repeat: no-repeat !important;
  background: #777;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.4);
}

#dakar {
  display: block;
  position: relative;
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #777;
  margin: 0 auto;
  float: center;
  top: 4px;
}

#ougadadougou {
  top: 10px;
  display: block;
  position: relative;
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #777;
  margin: 0 auto;
  float: center;
}

#bamako {
  top: 16px;
  display: block;
  position: relative;
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #777;
  margin: 0 auto;
  float: center;
}

.custom-logo-container-1 {
  margin-left: 175px;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 20px;
  width: 60px;
  z-index: 9999;
  font-size: 12px;
  color: #333;
  display: block;
  position: absolute;
  background-repeat: no-repeat !important;
  padding: 10px;
  bottom: 0;
  left: 0;
}

.logo-size-1 {
  width: 55px;
  height: 20px;
  padding: 5px;
  border-radius: 4px;
}

.custom-logo-container-2 {
  bottom: 0;
  left: 0;
  margin-left: 65px;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 35px;
  width: 150px;
  z-index: 9999;
  font-size: 12px;
  color: #333;
  display: block;
  position: absolute;
  background-repeat: no-repeat !important;
  padding: 10px;
}

.logo-size-2 {
  width: 120px;
  height: 35px;
  padding: 5px;
  border-radius: 4px;
  fill: #fff;
}

/* {
  #map1{
    width:48%
  }
  #map2{
    width:48%;
  }
  .map-yr-cont{
    height:20px;
    min-width:30px;
    font-size:1.2em;
  }
  #side-bar-container-one{
    height:255px;
    width: -moz-calc(100% - (10px + 10px));
    width: -webkit-calc(100% - (20px + 10px));
    width: calc(100% - (15px + 10px));
    display:block;
    background-color: #343332;
    margin: 20px 5px 10px 5px;
    box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);
    float:left;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .legend-window-icon-cont{
    display:none;
  }
  #sb-title-cont{
    min-height:50px;
  }
  #fly-legend-cont {
    width: 15%;
    margin:2%;
    float:left;
    height:205px;
}
.legend-one-cont{
  width:40%;
  float: left;
  height:205px;
  margin:2%
}
.legend-one{
  margin:15px;
  width:225px;
  float:left;
  height:150px;
}
.legend-two-cont{
  margin-left:15px;
  width:45%;
  float:left;
   display:block;
   position: relative;
}
#legends-cont{
  max-width:80%;
  float:left;
  height:150px;
}
.legend-horiz-bar-cont{
  width:225px;
}
.vacc-legend-bar-title{
  padding-top:1px;
}
} */
@media only screen and (max-width:767px){

  .legend-window-menu{

    height:30px;
    width:40px;
    position: relative;
    margin:0 auto;

  }

  #maps-container{
    height: 96%;
  }
  #map1{
    width:48%;
    height: -moz-calc(100% - (40px + 55px));
    height: -webkit-calc(100% - (40px + 550px));
    height: calc(100% - (40px + 50px));
    margin-bottom: 2px
  }
  #map2{
    width:48%;
    height: -moz-calc(100% - (40px + 55px));
    height: -webkit-calc(100% - (40px + 50px));
    height: calc(100% - (40px + 50px));
    margin-bottom: 1px;
  }
  .map-yr-cont{
    height:20px;
    min-width:30px;
    font-size:1.2em;
  }
  #side-bar-container-one{
    display:none;
  }
  #side-bar-container-two{
    height:20%;
    width: -moz-calc(100% - (10px + 10px));
    width: -webkit-calc(100% - (20px + 10px));
    width: calc(100% - (15px + 10px));
    display:block;
    background-color: #343332;
    margin: 0px 5px 10px 5px;
    box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);
    float:left;
    position: relative;
  }
  .sb-main-title-two{
    display:block;
    height:30px;
    position: relative;
    margin:0 auto;
    text-align: center;
    font-size: 1.2em;
    padding:20px 0px ;
    color:#fff;
    background-color: #343332;
    box-shadow: 1px 1px 10px 1px rgba(15, 20, 25, 0.2);

}
  #legends-cont{
    height:255px;
    display:none;
    width: -moz-calc(100% - (10px + 10px));
    width: -webkit-calc(100% - (20px + 10px));
    width: calc(100% - (15px + 10px));
    display:block;
    background-color: #343332;
    float:left;
    position: absolute;
  }
  #sb-title-cont{
    min-height:50px;
    margin-top:5px;
  }
  #fly-legend-cont {
  max-width: 120px;
    margin:2%;
    float:left;
    border:none;
}
.legend-one-cont{
  max-width:30%;
  float: left;
  margin-left:10px;
  border:none;
}
#dakar{
  width:95px;
}
#bamako{
  width:95px;
}
#ougadadougou{
  width:95px
}
.legend-one{
  margin-top:15px;
  max-width:180px;
  float:left;
  height:155px;
}
.legend-two-cont{
  margin-left:15px;
  max-width:185px;
  float:left;
   display:block;
   position: relative;
}

.legend-horiz-bar-cont{
min-width:165px;
}
.legend-hor-bar-title-cont{
  width:185px;
  height:12px;
}
.legend-horiz-bar-title{
  margin-left:14% !important;
  min-width:20px;
  font-size:11px;
  height:10px;
}
.vacc-legend-bar-title{
  padding-top:1px;
  font-size:12px;
  padding-left:6% !important;
  max-width:150px !important;
  text-align: center;
}
.cl-one{
  max-width:17%;
}
.cl-one-vals{
  max-width:17%;
  font-size:11px;
}
.legend-horiz-bar{
  width:6%;
  margin:0.5em;
}
}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
  .legend-window-icon-cont{
    display:none;
  }
  .map-yr-cont{
    height:20px;
    min-width:35px;
    font-size:1.55em;
  }

  #sb-main{
    width: 225px;
    background-color: #343332;
  }
  #sb-title-cont {
    height: 120px;
  }
  #map1 {
    width: calc(49.5% - 120px);
    display: block
  }
  #map2 {
    width: calc(49.5% - 120px);
    display: block
  }
}

@media only screen and (min-width: 1400px) {
  .legend-window-icon-cont{
    display:none;
  }
  #side-bar-container-one {
    width: 325px;
    margin-top: 1.1em
  }
  #sb-title-cont {
    height: 160px;
  }
  .sb-main-title-one {
    padding: 25px 25px;
    font-size: 24px;
    line-height: 35px;
  }
  .sb-main-title-two{
    display: none;
  }
  #map1 {
    width: calc(49.5% - 185px);
    margin: 1.6em 0.5em;
    height: 920px;
  }
  #map2 {
    width: calc(49.5% - 165px);
    margin: 1.5em 0.5em;
    height: 920px;
  }
  #fly-legend-cont {
    background: #343332;
    height: 175px;
  }
  .cl-one {
    margin-top: 10px;
    width: 17%;
    height: 15px;
    float: left;
    border: 0.5px solid #fff;
    margin-bottom: 2px;
  }
  .cl-one-vals {
    width: 17%;
    height: 20px;
    float: left;
    font-size: 12px;
  }
  .vacc-legend-bar-title {
    width: 95%;
    height: 20px;
    display: block;
    position: relative;
    padding: 4px 0px 0px 5%;
    float: left;
    font-size: 16px;
  }
  .legend-hor-bar-title-cont {
    width: 90%;
    margin-left: 10%;
    height: 30px;
    position: relative;
    display: block;
  }
  .legend-one-cont {
    min-height: 150px;
    width: 95%;
    margin-left: 5%
  }
  .legend-one {
    padding-top: 35px;
  }
  .city-legend-bar-title {
    padding: 25px 0px 10px 0px;
  }
  .legend-horiz-bar-cont {
    padding-top: 7px;
    width: 88%;
    margin-left: 12%
  }
  .legend-horiz-bar {
    margin: 0.75em
  }
}
